# UV environment
.venv
uv.lock
.python-version

# Python cache
*__pycache__*

# Pytest cache
.coverage
.pytest_cache

# Apple Finder files
.DS_Store

# Hydra results dirs
outputs

# Weights and Biases logs
wandb_logs

# MLFlow logs
mlflow_logs

# Ruff Cache
.ruff_cache